.menu-item-image {
  height: 200px;
  width: 200px;
}
.menu-item {
  text-align: center;
  padding: 30px;
  border: 2px tomato dashed;
  margin: 25px;
}
.menu-item-button {
  background-color: tomato;
  color: white;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
