.tophero {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../../assets/images/topherowall.png");
  color: white;
  font-size: 70px;
  background-size: cover;
  display: flex;
  place-items: center;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.top-hero-wall {
  height: 100%;
  width: 100%;
  position: absolute;
}
.topherotitle {
  margin-left: 100px;
  padding-right: 100px;
  border-bottom: 5px tomato solid;
  border-right: 2px tomato solid;
  width: 40%;
  font-weight: 900;
}
